<div class="ims-panel-header full-width content-inline">
    <div style="padding: 0px 28px;">
        <span class="ims-text" >תביעת אל: 
            {{processModel.superClaim.superClaimStatus.value}}
        </span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="invalid-text" *ngIf="hasIrragularMark()">חריגה</span>
        <span class="invalid-text">{{claimRemarks()}}</span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="ims-text">מצב תביעה: </span>
        <span class="ims-text" >{{processModel.superClaim.superClaimStatus.value}}</span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="invalid-text" *ngIf="processModel.superClaim.deathAfterDisabilityFlag">פטירה מנכות</span>
    </div>
    <div style="padding: 0px 28px;">
        <span class="ims-text">תביעות משתתפות: </span>
        <span class="ims-text long-text width-percent-40">{{getClaims()}}</span><!-- [title]="{{getClaimPolicies()}}"-->
    </div>
    <div >
        <button class="button button-dark" (click)="executeRefresh()" >
           רענון תהליך
        </button>
    </div>
</div>