<div>
    <div style="background-color: aliceblue; font-size: initial; font-weight: bold; margin: 7px 0; padding: 5px;">ריכוז אנשי קשר</div>
    <div class="content-inline" style="margin-top: 16px;  margin-right: 10px;">
        <div style="padding: 0px 28px;">
            <span>מספר אנשי קשר בתהליך: </span>
            <span>{{count}}</span>
        </div>
    <div *ngIf="isToShow">
        <span >פעולות אפשריות: </span>
        <div class="width-percent-15">
            <button class="button button-dark" (click)="addToContacts()">
                הוספת מבוטח
            </button>
        </div>
        <div  class="width-percent-10">
            <button class="button button-dark" (click)="deleteContacts()">
                איפוס מלא
            </button>
        </div>
    </div>
        <div class="width-percent-30">
            <button class="button button-dark" (click)="resetContacts()">
                איפוס אנשי קשר
            </button>
        </div>
    </div>
</div>
