<div>
    <div style="background-color: aliceblue; font-size: initial; font-weight: bold; margin: 7px 0; padding: 5px;">ריכוז מידע בתהליך</div>
    <div class="test-header content-inline">
        <table style="margin-top: 16px;  margin-right: 10px;">
            <tr>
                <td style="padding: 0px 28px;">פרטי מבוטח: </td>
                <td style="padding: 0px 28px;">
                    {{process.insured.firstName}} {{process.insured.lastName}}
                </td>
                <td  style="padding: 0px 28px;">
                    {{process.insured.identity}}
                </td>
                <td  style="padding: 0px 28px;">
                    {{process.insured.age}}
                </td>
                <td  style="padding: 0px 28px;">
                    {{process.insured.address.streetName}}, {{process.insured.address.cityName}} 
                </td>
                <td class="invalid-text"  style="padding: 0px 28px;">
                    <span>
                        {{isCompanyEmployer()}}
                    </span>
                </td>
            </tr>
            <tr>
                <td  style="padding: 0px 28px;"></td>
                <td  style="padding: 0px 28px;">שם</td>
                <td  style="padding: 0px 28px;">ת.ז</td>
                <td  style="padding: 0px 28px;">גיל</td>
                <td  style="padding: 0px 28px;">כתובת</td>
                <td  style="padding: 0px 28px;"></td>
            </tr>
        </table>
    </div>

<app-concentration-of-contacts [count]="count"></app-concentration-of-contacts>
</div>